# Dependencies
/node_modules
/frontend/node_modules
/.venv
/.env
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local
/frontend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/backend/.env
/backend/.env.local
/backend/.env.development.local

# Build outputs
/frontend/.next/
/frontend/out/
/build
/dist
/backend/dist
/backend/build

# Cache
.npm
.eslintcache
.pytest_cache/
.coverage
/frontend/.npm
/frontend/.eslintcache
/__pycache__/
/backend/__pycache__/
**/__pycache__/
**/*.py[cod]
**/*$py.class
.DS_Store
*.pem

# Tests
/coverage
/htmlcov/
.nyc_output

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# IDE/Editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store
**/.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python specific
*.so
.Python
env/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Docker related
docker-volumes/

# Debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo 